@font-face{
    src: url("../assets/fonts/Gradient.otf");
    font-family: gradient
}
/* 
The Formula:
    selector{
        property: value;
    } 
*/

/* STEP 0: body
    - Change the background-color of the webpage  
    HINT: 
        selector = body
        property = background-color
        value = any CSS color you want! 
*/
body{
    background-color: rgb(206, 235, 134);
    background-image: url(../assets/images/spongebob.png);
}
.header{
    background-color: rgb(182, 221, 236);
    padding: 10px; 
   
}

/* STEP 1: h1
    - Align the text to the center (text-align)
    - Change the color of the text (color)
*/
h1{
  color: blue;
  margin-top: 0%;
  font-family: Gradient;
    
  }
  

h2{
    color:purple;
    margin-bottom: 0%;
  }
/* STEP 2: h2 
    - Align the text to the center (text-align)
    - Change the color of the text (color)
    - Underline the text (text-decoration)
*/


/* STEP 3: Img
    - Apply the following rule (display: block;)
    - Center the images (margin-left and margin-right)
    - Add a border to the images with any size, style, and color (border)
    - Change the width of the images (width)
*/
.nyan{
    border: 5px solid pink;
}
.troll{
    border: 5px solid red;
}
#nyan{
    position:absolute;
    left: 60%;
    top: 20%;
}
#memes{
    position:relative;
    background-color: #57C785;
}
/* STEP 4: p 
    - Align the text to the center (text-align)
*/
span{
    background-color: yellow;
}
.ready{
    font-size: 100pt;
}
/* STEP 5: a
    -  Change the color of the link (color)
*/


/* STEP 6: ul
    - Center the text (text-align)
    - Move the bullet points with the text (list-style-position: inside;)
*/
ul{
    width: 200px;
}
.favorite{
    font-weight: bold;
    background-color: chartreuse;
}
#lovestruck{
    font-size: 20pt;
}